<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
  <head>
    <title>Ajouter un abonnement</title>
  </head>
  <body>
    <div layout:fragment="main_content">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="card">
            <div class="card-header h3">Ajouter une offre d'abonnement</div>
              <div class="card-body">
                <form th:action="@{/company/save_offer}" method="post" th:object="${offer}">
                  <div class="row">
                    <div class="alert alert-danger"  th:if="${#fields.hasErrors('global')}">
                      <h4 class="alert-heading fw-bold">Erreurs !</h4>
                      <hr>
                      <ul>
                        <li th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                  <!--col 1-->
                  <div class="col">
                    <!--start select ville depart-->
                    <div class="mb-3">
                      <label for="ville-depart" class="form-label">Ville de départ</label>
                      <select required id="ville-depart" class="form-select" th:field="${offer.departureCity}">
                        <option value="" hidden >Choisissez la Ville de départ</option>
                        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                      </select>
                    </div>
                    <!--end select ville depart-->
          
                    <!--start select ville arrivée-->
                    <div class="mb-3">
                      <label for="ville-arrive" class="form-label">Ville d'arrivée</label>
                      <select required id="ville-arrive" class="form-select" th:field="${offer.arrivalCity}">
                        <option value="" hidden >Choisissez la Ville d'arrivée</option>
                        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                      </select>
                    </div>
                  </div>
                  
                  <!--col 2-->
                  <div class="col">
                      <!--start date debut-->
                      <div class="mb-3">
                        <label class="form-label" for="date_debut">Date début</label>
                        <input type="date" class="form-control" id="date_debut" required th:field="${offer.startDate}">
                      </div>
                      <!--end date debut-->
              
                      <!--start date fin-->
                      <div class="mb-3">
                        <label class="form-label" for="date_fin">Date fin</label>
                        <input type="date" class="form-control" id="date_fin" required th:field="${offer.endDate}">
                      </div>
                      <!--end date fin-->
                  </div>
               
                  <!--col 3-->
                  <div class="col">
                        <!--start heure depart-->
                        <div class="mb-3">
                          <label class="form-label" for="heure_depart">Heure départ</label>
                          <input type="time" class="form-control" id="heure_depart" required th:field="${offer.departureHour}">
                        </div>
                        <!--end heure debut-->
                
                        <!--start heure d'arrivée-->
                        <div class="mb-3">
                          <label class="form-label" for="heure_arrivee">Heure d'arrivée</label>
                          <input type="time" class="form-control" id="heure_arrivee" required th:field="${offer.arrivalHour}">
                        </div>
                        <!--end heure d'arrivée-->
                    </div>
                </div>
          
                  <div class="row mt-3">
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label" for="prix">Prix</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="prix" th:field="${offer.price}">
                          <span class="input-group-text">DH</span>
                        </div>
                        <div class="text-danger" th:errors="${offer.price}"></div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label" for="nbr_abonne">Nombre abonné voulus</label>
                        <div class="input-group">
                          <input type="number" class="form-control" id="nbr_abonne" th:field="${offer.desiredNumberOfSubscribers}">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            </svg>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <!--start offre-ouverte-->
                      <label class="form-label" for="offer-status">Status de l'offre</label>
  
                      <div class="input-group mb-3">
                        <div class="input-group-text">
                          <input class="form-check-input" id="offer-status" type="checkbox" th:field="${offer.open}" >
                        </div>
                        <input type="text" disabled class="form-control" value="Offre est ouverte.">
                      </div>
                      <!--end offre-ouverte-->
                    </div>
                    
                  </div>
  
                  <!-- description de l'autocar -->
                  <div class="mb-3 d-grid col-8 ">
                    <label for="description_autobus" class="form-label">Description de l'autobus</label>
                    <textarea class="form-control" id="description_autobus" rows="3" th:field="${offer.busDescription}"></textarea>
                  </div>
  
                  <!--btn ajouter-->
                <div class="text-center d-grid col-4 mx-auto mt-4">
                  <button type="submit" class="btn btn-primary">Ajouter offre</button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>