<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand  mb-0 h1" th:href="@{/}">Gestion des navettes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" sec:authorize="hasAuthority('company')">
                    <a class="nav-link" th:href="@{/company/my_offers}">Mes Offres</a>
                  </li>
                  <li class="nav-item" sec:authorize="hasAuthority('company')">
                    <a class="nav-link" th:href="@{/company/subscription_requests}">Demandes d'Abonnement</a>
                  </li>
                  <li class="nav-item" sec:authorize="hasAuthority('company')">
                    <a class="nav-link" th:href="@{/company/add_offer}">Ajouter une Offre</a>
                  </li>
                  <li class="nav-item" sec:authorize="hasAuthority('client')">
                      <a class="nav-link" th:href="@{/client/my_subscriptions}">Mes Abonnements</a>
                  </li>
                  <li class="nav-item" sec:authorize="hasAuthority('client')">
                    <a class="nav-link" th:href="@{/client/my_requests}">Mes Demandes</a>
                  </li>
                  <li class="nav-item" sec:authorize="hasAuthority('client')">
                    <a class="nav-link" th:href="@{/client/add_request}">Ajouter une Demande</a>
                  </li>
                </ul>
                
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link btn " th:href="@{/login}" sec:authorize="!isAuthenticated()">Se connecter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary" th:href="@{/sign_up}" sec:authorize="!isAuthenticated()">S'inscrire</a>
                  </li>
                  <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                      &nbsp;
                      <span class="navbar-text" sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" >
                      <li>
                        <form name="logout-form" th:action="@{/signout}" method="get">
                          <button type="submit" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                            &nbsp;Déconnecter
                          </button>
                        </form>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
      </div>
      <!-- start content -->
      <section class="mt-3" layout:fragment="main_content"></section>
      <!-- end content -->
    </div>
  </body>
</html>