<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Page d'authentification</title>
</head>
<body>
  <div layout:fragment="main_content">
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col">
        <form class="text-center" th:action="@{/logout}" method="post" >
          <div class="card text-center">
            <div class="card-header h3">Déconnexion</div>
            <div class="card-body">
              <h5 class="card-title">Êtes-vous sûr de vouloir vous déconnecter?</h5>
              <div class="hstack gap-4 mt-5">
                <a class="btn btn-outline-secondary mx-auto w-100" th:href="@{/}">Annuler</a>
                <button class="btn btn-primary mx-auto w-100" type="submit">Me déconnecter</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>
</html>


