<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Mes Demandes Abonnements</title>
  <style >
    .crd { background: #212121 !important; }
    .btn-sub { background: #FFD56F !important; }
  </style>
</head>
<body>
<div layout:fragment="main_content">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="card">
        <div class="card-header h3">Mes Demandes Abonnements</div>
        <div class="card-body">
          <div th:if="${#lists.isEmpty(requests)}">
            <p class="card-text" role="alert">
              Vous n'avez pas encore créé une demande abonnement,
              <a th:href="@{/client/add_request}" class="link-primary">créez-en une maintenant.</a>
            </p>
          </div>
  
          <div th:unless="${#lists.isEmpty(requests)}" >
          <div class="table-responsive rounded">
            <table class="table table-bordered table-sm table-hover table-striped">
              <thead class="table-dark">
                <tr>
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    Ville départ</th>
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    Ville arrivé</th>
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    Date début</th>
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    Date fin</th>
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                      <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                    </svg>
                    Heure Départ</th>
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                      <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                    </svg>
                    Heure arrivé</th>
                 
                  <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="request : ${requests}" >
                  <td th:text="${request.departureCity.name}"></td>
                  <td th:text="${request.arrivalCity.name}"></td>
                  <td th:text="${#dates.format(request.startDate, 'dd MMM yyyy')}"></td>
                  <td th:text="${#dates.format(request.endDate, 'dd MMM yyyy')}"></td>
                  <td th:text="${#dates.format(request.departureHour, 'HH:mm')}"></td>
                  <td th:text="${#dates.format(request.arrivalHour, 'HH:mm')}"></td>
                  
                  <!-- Start model-->
                  <td th:if="${request.open}">En attente</td>
                  <td th:unless="${request.open}">Traité,
                    <!-- Link trigger modal -->
                    <a class="link-primary" data-bs-toggle="modal" th:data-bs-target="${'#offerModal' + request.suggestedOffer.id}">voir offre</a>
                    
                    <!-- Modal -->
                    <div class="modal fade" th:id="${'offerModal' + request.suggestedOffer.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5 " >Offre d'abonnement proposé</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer" data-bs-placement="top" data-bs-toggle="tooltip" data-bs-title="Fermer"></button>
                          </div>
                          
                          <!--start modal-body-->
                          <div class="modal-body">
                            <div class="crd card text-bg-dark mb-3">
                              <div class="row g-0">
                                <form th:action="@{'/client/subscribe/' + ${request.suggestedOffer.id}}" method="post">
                                  <div class="card-header">
                                    <div class="row">
                                      <div class="col" th:text="${'Offert par : ' + request.suggestedOffer.offeringCompany.name}"></div>
                                      <div class="col text-end" th:text="${request.suggestedOffer.open? 'Status : Ouverte' : 'Status : Fermé'}"></div>
                                    </div>
                                  </div>
                                  <div class="card-body text-center">
                                    <div class="row">
                                      <div class="col">
                                        <p class="card-text"><small class="">Départ</small></p>
                                        <p class="card-text fs-5 fw-bold" th:text="${#dates.format(request.suggestedOffer.departureHour, 'HH:mm')}"></p>
                                        <p class="card-text text-capitalize fw-light" th:text="${request.suggestedOffer.departureCity.name}"></p>
                                      </div>
                                      <div class="col">
                                        <p class="card-text"><small class="">Arrivée</small></p>
                                        <p class="card-text fs-5 fw-bold" th:text="${#dates.format(request.suggestedOffer.arrivalHour, 'HH:mm')}"></p>
                                        <p class="card-text text-capitalize fw-light" th:text="${request.suggestedOffer.arrivalCity.name}"></p>
                                      </div>
                                      <div class="col border-start border-light ">
                                        <p class="card-text"><small class="">Date début</small></p>
                                        <p class="card-text fs-6 fw-bold" th:text="${#dates.format(request.suggestedOffer.startDate, 'dd MMM yyyy')}"></p>
                                        <p class="card-text"><small class="">Date fin</small></p>
                                        <p class="card-text fs-6 fw-bold" th:text="${#dates.format(request.suggestedOffer.endDate, 'dd MMM yyyy')}"></p>
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row text-center">
                                      <div class="col">
                                        <p class="card-text"><small class="">Nombre place disponibles</small></p>
                                        <p class="card-text fs-6 fw-bold" th:text="${request.suggestedOffer.desiredNumberOfSubscribers - request.suggestedOffer.clients.size()}"></p>
                                      </div>
                                      <div class="col">
                                        <p class="card-text"><small class="">Prix</small></p>
                                        <p class="card-text fs-6 fw-bold" th:text="${request.suggestedOffer.price} + ' DH'"></p>
                                      </div>
                                    </div>
                                  </div>
          
                                  <div class="card-footer text-center">
                                    <button type="submit" class="btn-sub fw-bold fs-6 btn w-100">S'abonner</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <!-- End model-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>